# Gradle
.gradle/
*.iml

# Android Studio
/.idea/

# Compiled files
*.class
*.jar

# Local configuration file (e.g., studio-related files)
.gradle
.idea

# Gradle Wrapper
gradle-wrapper.jar


# build
app/build